body
{
    margin: 0;
    box-sizing: border-box;
    background: hsl(210, 46%, 95%);
    color: hsl(214, 17%, 51%);
    font-family: 'Manrope', sans-serif;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card
{
    width: 800px;
    display: flex;
    height: 300px;
    border-radius: 10px;
    background: white;
}

.card_image
{
    background-image: url("../images/drawers.jpg");
    border-radius: 10px 0 0 10px;
    height: 100%;
    background-size: cover;
    min-width: 38%;
}

.card h2
{
    color: hsl(217, 19%, 35%);
}

.card_wrap
{
    padding: 10px 30px;
}

.card_text
{
    font-size: 15px;
    margin-bottom: 20px;
}

.card_label
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_label > div
{
    display: flex;
}

.card_label img
{
    display: block;
    height: 2.5rem;
    border-radius: 50%;
}

.card_label_text
{
    margin-left: 10px;
}

.card_label_text > h3
{
    margin: 0;
    font-size: 15px;
    color: hsl(217, 19%, 35%);
}

.card_label_text > div
{
    font-size: 12px;
    color: hsl(212, 23%, 69%);
}

.clickable_button
{
    width: 2rem;
    height: 2rem;
    z-index: 1;
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_button
{
    width: 100%;
    height: 100%;
    background: hsl(210, 46%, 95%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_button:hover
{
    cursor: pointer;
}

.card_clickmenu
{
    position: absolute;
    transform: scale(0);
    top: -200%;
    height: 30px;
    display: flex;
    background-color: hsl(217, 19%, 35%);
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    color: hsl(212, 23%, 69%);
    border-radius: 10px;
    transition: 0.3s transform ease-in-out;
}

.card_clickmenu.active
{   
    cursor: default;
    transform: scale(1);
}

.card_clickmenu > span
{
    margin-right: 10px;
    letter-spacing: 3px;
    font-size: 13px;
}

.card_clickmenu > img
{
    border-radius: 0;
    height: 50%;
    margin: 0 5px;
}

.card_clickmenu:before
{
    content: "";
    display: block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid hsl(217, 19%, 35%);
    transform: rotate(90deg);
    top: 80%;
    position: absolute;
}

.card_button > img
{
   height: 45%;
}

.card_clickmenu > img:hover
{
    cursor: pointer;
}

.overlay.active
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 820px)
{
    .card
    {
        flex-direction: column;
        width: 70%;
        height: fit-content;
        overflow: hidden;
    }

    .card_image
    {
        height: 30vh;
        background-position: center;
        border-radius: 0;
    }

    .card_wrap
    {
        padding: 0;
        margin-top: 30px;
    }

    .clickable_button
    {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .card_button
    {
        position: absolute;
        right: 0;
        width: 35px;
        height: 35px;
        margin: 0 40px;
        z-index: 3;
    }

    .card_clickmenu
    {
        width: 100%;
        height: 100%;
        padding: 0;
        top: 0;
        border-radius: 0;
        justify-content: start;
    }

    .card_clickmenu > span, .card_clickmenu > img
    {
        letter-spacing: 5px;
        font-size: 18px;
        margin: 0 0 0 4vw;
    }

    .card_clickmenu > img
    {
        height: 35%;
    }

    .card_clickmenu:before
    {
        display: none;
    }

    .card h2
    {
        font-size: 1.4rem;
        padding: 0 40px;
    }

    .card_text
    {
        padding: 0 40px;
        font-size: 1.15rem;
        width: 80%;
    }

    .card_label
    {
        position: relative;
        padding: 15px 40px;
    }

    .card_label > div > img
    {
        height: 50px;
        margin-right: 20px;
    }

}

@media screen and (max-width: 500px) {

    .card
    {
        width: 90%;
    }
    
}